<div class="container">
    <h1>Tree Maker</h1>
    <div class="row-fluid">
        <div class="span4">
            <h3>Example Tree</h3>
        </div>
        <div class="span8">
            <h3>Make your own</h3>
            <a href="#" class="btn btn-primary addNode">Add a node <i class=" icon-plus-sign icon-white"></i></a>
            <div class="popupTemplate" id="addNodePopup">
                <form id="addNodeForm" action="javascript:$('#addNodeForm').submit();">
                    <fieldset>
                        <label>Title:</label><input type="text" name="title" required="required"/>
                        <label>Link:</label><input type="url" name="link" required="required"/>
                        <label>Description:</label><textarea name="desc" required="required"></textarea>
                        <br/>
                        <input type="submit" value="Save Node" class="submit btn btn-primary saveButton"/>
                    </fieldset>
                </form>
            </div>
            <br/>
            <button class="btn btn-large btn-primary saveButton">Save Tree</button>
            </div>
    </div>
</div> <!-- /container -->
