<div class="container" id="contactContainer">
    <form>
        <fieldset>
            <legend><h1>Contact Us</h1></legend>
            <span>E-mail:</span>
            <input type="text" class="contactInput" placeholder="Your e-mail address">
            <br/>
            <span>Message:</span>
            <textarea class="contactInput" placeholder="Your message..."></textarea>
            <br/>
            <button type="submit" class="btn contactButton">Send</button>
            <button type="reset" class="btn contactButton">Reset</button>
        </fieldset>
    </form>
</div> <!-- /container -->
