<div class="container">
    <h1>Your one stop (free) shop for learning everything.</h1>
    <p>Epic Skill Tree is an open source platform that allows user to create skill trees for real life activities.<br/>
        Other users that want to learn about specific topics can then look up trees related to their<br/>
        interests and track their progress as they learn.
    </p>

    <div class="row-fluid">
        <div class="span2">
            <h3>Popular Trees</h3>
        </div>
        <div class="span10">
            <h3>Start Here</h3>
            <h4>Search for Trees</h4>
            <form class="form-search">
                <input type="text" placeholder="Search term..."/>
                <button type="submit" class="btn" ><i class="icon-search"></i></button>
            </form>
            <h4>Didn't find what you wanted?</h4>
            <a href="#/treemaker" class="btn btn-large btn-primary">Make a Tree</a>
        </div>
    </div>
</div>