<div class="container">
    <h1>Tree Maker</h1>
    <div class="row-fluid">
        <div class="span4">
            <h3>Example Tree</h3>
            <div id="exampleTree"></div>
        </div>
        <div class="span8">
            <h3>Make your own</h3>
            <button id="saveTreeButton" class="submit btn btn-primary">Save Tree <i class="icon-ok icon-white"></i></button>
            <form id="makeTreeForm" class="form-inline">
                <input type="text" placeholder="Tree Name" id="treeNameTextBox" required/>
                <button id="startTreeButton" class="btn btn-primary">Start Tree <i class="icon-leaf icon-white"></i></button>
            </form>
            <div id="newTree"></div>
        </div>
    </div>
    <div id="nodePopup" style="display:none;">
        <label>Title:</label><input type="text" name="title" required="required"/>
        <label>Link:</label><input type="url" name="link" required="required"/>
        <label>Description:</label><textarea name="desc" required="required"></textarea>
    </div>
</div> <!-- /container -->
